@media screen and (max-width:1300px){
    .navigation{
        flex-direction:column;
        margin:auto;
        margin-top:32px;
        text-align:center;

    }
    .nav-left{
        flex-direction:column;
        text-align: center;
    }
    .content-right {
        display: none;
       
    }
    .home-article{
        flex-direction: column;
    }
    .home-article-img{
        text-align: center;
        overflow: hidden;
    }
    .form-input{
        width:50%;
    
    }
}
